#education {
  padding: 2rem 1rem; /* Reduce top and bottom padding */
  background: var(--color-bg);
  color: var(--color-text);
  text-align: center;
}

#education h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.education__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.education__container > div {
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.education__container > div:hover {
  background: var(--color-primary-light);
  border-color: var(--color-primary);
  cursor: default;
}

.education__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.education__details-icon,
.education__details-cgpa-icon {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.education__details h4 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.education__details small {
  color: var(--color-text);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.education__details .degree-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .education__container > div {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .education__container {
    gap: 1rem;
  }

  .education__container > div {
    width: 100%;
    padding: 1.5rem 1rem;
  }

  .education__details h4 {
    font-size: 1.25rem;
  }

  .education__details small {
    font-size: 0.875rem;
  }
  
}
