#experience {
  padding: 2rem 1rem;
  background: var(--color-bg);
  color: var(--color-text);
  text-align: center;
}

#experience h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.experience__carousel {
  max-width: 800px;
  margin: auto;
  overflow: visible
}


element.style {
    width: 100%;
    display: inline-block;
}
.experience__card {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience__card:hover {
  background: var(--color-primary-light);
  border-color: var(--color-primary);
}

.experience__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
}

.experience__details-icon {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.experience__details h4 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.experience__details small {
  color: var(--color-text);
  font-size: 1rem;
}

.experience__details ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  text-align: left;
  color: var(--color-text);
  line-height: 1.6;
  margin-top: 1rem;
}

.swiper {
  padding-bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary);
}

.swiper-pagination-bullet {
  background: var(--color-primary);
}
